
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


@* Start Body *@
<div class="mt-2 ms-2 me-2 p-3 bg-dark text-white rounded">
    <center>
        <h1>
            Welcome To Login Page
        </h1>
        <p>
            Route Group
        </p>
    </center>
</div>
@* End Body *@

