@{
    ViewBag.Title = "AboutUs";
    //Layout = "_Layout";
}


    @* Start Header *@
    <nav class="mt-5">
        <center>
        <a class="btn btn-lg btn-outline-primary  rounded" asp-controller ="Home" asp-action="Index" >Home</a>
        <a class="btn btn-primary btn-lg rounded" asp-controller="Home" asp-action="AboutUs">AboutUs</a>
        <a class="btn btn-lg btn-outline-primary  rounded" asp-controller="Home" asp-action="Privacy">Privacy</a>
        <a class="btn btn-lg btn-outline-primary  rounded" asp-controller="Home" asp-action="ContactUs">ContactUs</a>

        <a class="btn btn-info btn-outline-success ms-3" asp-controller="Account" asp-action="Login">LOGIN</a>
        <a class="btn btn-info btn-outline-success" asp-controller="Account" asp-action="Register">REGISTER</a>
        </center>
    </nav>
    @* End Header *@

    @* Start Body *@
    <div class="mt-5 ms-2 me-2 p-3 bg-primary text-white rounded">
        <center>
            <h1>
                Welcome To About Us Page
            </h1>
            <p>
                Route Group
            </p>
        </center>
    </div>
    @* End Body *@

    