
@{
    ViewData["Title"] = "Privacy";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}



@* Start Header *@
<nav class="mt-5 ">
    <center>
        <a class="btn btn-lg btn-outline-primary  rounded" href="/Home/Index">Home</a>
        <a class="btn btn-lg btn-outline-primary  rounded" href="/Home/AboutUs">AboutUs</a>
        <a class="btn btn-primary btn-lg rounded"  href="/Home/Privacy">Privacy</a>
        <a class="btn btn-lg btn-outline-primary  rounded" href="/Home/ContactUs">ContactUs</a>

        <a class="btn btn-info btn-outline-dark ms-3" href="/Account/Login">LOGIN</a>
        <a class="btn btn-info btn-outline-dark" href="/Account/Register">REGISTER</a>
    </center>
</nav>
@* End Header *@

@* Start Body *@
<div class="mt-5 ms-2 me-2 p-3 bg-primary text-white rounded">
    <center>
        <h1>
            Welcome To Privacy Page
        </h1>
        <p>
            Route Group
        </p>
    </center>
</div>
@* End Body *@

